.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.defaultsection {
  margin: 10vh 15vw;
  display: block;
}

.walsh-link-block-orange {
  color: #fff;
  text-align: center;
  background-color: #ff715b;
  border-radius: 100px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 20px 32px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-orange:hover {
  background-color: #ffbba6;
}

.body {
  background-color: rgba(247, 247, 255, .57);
  font-family: Sinkinsans, sans-serif;
}

.walsh-container {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.walsh-link-wrapper {
  color: rgba(0, 0, 0, .85);
  white-space: nowrap;
  border-bottom: 1px dashed #c5c5c5;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  display: flex;
}

.walsh-link-wrapper:hover {
  color: rgba(87, 85, 85, .85);
  padding-right: 0;
}

.walsh-container-2 {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.walsh-link-block-orange-2 {
  color: #fff;
  text-align: center;
  background-color: #6941c6;
  border-radius: 100px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 20px 32px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-orange-2:hover {
  background-color: #ffbba6;
}

.walsh-main-paragraph {
  color: rgba(0, 0, 0, .6);
  letter-spacing: 0;
  font-family: Merriweather, serif;
  font-size: 16px;
  line-height: 1.5;
}

.walsh-hero-p-wrapper {
  width: 100%;
  max-width: 36em;
}

.walsh-heading-large {
  color: #2c2c2c;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Sinkinsans, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
}

.walsh-title-tag {
  color: #2c2c2c;
  font-size: 1.2em;
  font-weight: 500;
}

.walsh-flex-tag {
  grid-column-gap: 10px;
  align-items: center;
  display: flex;
}

.walsh-content-wrap {
  width: 100%;
  max-width: 42em;
  grid-row-gap: 2em;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  display: flex;
}

.walsh-image-hero {
  max-height: 45em;
}

.walsh-content-image-wrap {
  width: 100%;
  max-width: 33.8em;
  flex: none;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.walsh-flex-horizontal {
  width: 100%;
  grid-column-gap: 4em;
  background-color: rgba(0, 0, 0, 0);
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.walsh-rounded-container {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
}

.walsh-rounded-block {
  width: 100%;
  max-width: 1480px;
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.walsh-rounded-wrapper {
  grid-column-gap: 20px;
  justify-content: center;
  display: flex;
}

.walsh-container-3 {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.uui-button {
  grid-column-gap: .5rem;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #7f56d9;
  border: 1px solid #7f56d9;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.uui-button:hover {
  background-color: #6941c6;
  border-color: #6941c6;
}

.uui-button:focus {
  background-color: #7f56d9;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f4ebff;
}

.uui-text-size-medium {
  color: #475467;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.uui-icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
}

.uui-pricing04_icon-wrapper {
  flex: none;
  align-self: flex-start;
  margin-right: .75rem;
}

.uui-pricing04_feature {
  display: flex;
}

.uui-pricing04_feature-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  display: grid;
}

.uui-pricing04_price-text {
  color: #475467;
  letter-spacing: normal;
  margin-left: .25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.uui-pricing04_price {
  color: #101828;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.uui-heading-xxsmall {
  color: #101828;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-text-align-center {
  text-align: center;
}

.uui-pricing04_content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.uui-pricing04_plan {
  border: 1px solid #eaecf0;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 2.5rem;
  padding: 2rem;
  position: relative;
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
}

.uui-pricing04_popular-label {
  z-index: 1;
  width: 100%;
  height: 2.5rem;
  outline-offset: 0px;
  color: #fff;
  background-color: #6941c6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  outline: 1px solid #e9d7fe;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  font-weight: 600;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}

.uui-pricing04_popular-plan {
  border: 1px solid #eaecf0;
  border-radius: 1rem;
  padding: 4.5rem 2rem 2rem;
  position: relative;
  box-shadow: 0 12px 16px -4px rgba(0, 0, 0, .08), 0 4px 6px -2px rgba(16, 24, 40, .03);
}

.uui-pricing04_components {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
  margin-top: 3rem;
}

.uui-heading-medium {
  color: #101828;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Sinkinsans, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
}

.uui-heading-subheading {
  color: #7f56d9;
  margin-bottom: .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.uui-max-width-large {
  width: 100%;
  max-width: 48rem;
}

.uui-max-width-large.align-center, .align-center {
  margin-left: auto;
  margin-right: auto;
}

.uui-padding-vertical-xhuge {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.uui-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-page-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}

.section {
  height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/IMG_2171-2-copy.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.walsh-link-block-orange-3 {
  color: #fff;
  text-align: center;
  background-color: #6941c6;
  border-radius: 100px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 20px 32px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-orange-3:hover {
  background-color: #ffbba6;
}

.walsh-nav-logo-2 {
  height: 142px;
}

.walsh-brand-block-2 {
  z-index: 2;
  width: auto;
  height: 100%;
  align-items: center;
  display: flex;
}

.walsh-nav-grid-1-2 {
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.walsh-inner-nav-2 {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.walsh-inner-container-nav-float-2 {
  max-width: 1480px;
}

.walsh-main-nav-2 {
  background-color: rgba(255, 255, 255, 0);
}

.walsh-float-menu-2 {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  padding: 5px 20px;
}

.walsh-nav-wrapper-green-padding-2 {
  z-index: 10;
  padding: 20px 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.heading-4 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  font-family: Exo, sans-serif;
  font-size: 4.5em;
  line-height: 1.45;
}

.walsh-container-4 {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.f-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f-gallery-image-x-small-square {
  height: 255px;
}

.f-gallery-lightbox {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.f-gallery-two-column {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

.f-gallery-image-x-tall {
  height: 550px;
}

.f-gallery-two-column-s {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.f-h3-heading {
  color: #160042;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.2;
}

.f-title-wrapper-center {
  z-index: 5;
  width: 100%;
  max-width: 580px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.f-margin-bottom-48 {
  margin-bottom: 48px;
}

.f-container-regular {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.f-section-large {
  padding: 92px 5%;
  position: relative;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.walsh-icon-social {
  max-height: 18px;
}

.walsh-footer-link-social {
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.walsh-footer-grid-social {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  justify-items: start;
}

.walsh-footer-inner {
  grid-column-gap: 20px;
  display: flex;
}

.walsh-footer-legal-link {
  color: #000;
  text-decoration: underline;
}

.walsh-footer-legal-link:hover {
  color: #000;
}

.walsh-footer-legal-text {
  color: #6e6e6e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 13px;
}

.walsh-logo-footer {
  max-height: 87px;
  margin-bottom: 0;
}

.walsh-center-h-wrapper {
  width: 100%;
  grid-row-gap: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  display: flex;
}

.walsh-container-5 {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.walsh-content-wrapper-white {
  padding-top: 4.5em;
  padding-bottom: 1.6em;
  position: relative;
}

.section-2 {
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .walsh-link-block-orange {
    padding-left: 50px;
  }

  .walsh-container, .walsh-container-2 {
    width: auto;
    flex: 0 auto;
  }

  .walsh-link-block-orange-2 {
    padding-left: 50px;
  }

  .walsh-heading-large {
    letter-spacing: -.01em;
    font-size: 3em;
  }

  .walsh-title-tag {
    color: #6941c6;
  }

  .walsh-content-wrap {
    max-width: none;
    order: -1;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .walsh-image-hero {
    width: 100%;
    max-width: none;
  }

  .walsh-content-image-wrap {
    max-width: none;
  }

  .walsh-flex-horizontal {
    flex-flow: column wrap;
  }

  .walsh-rounded-container {
    width: auto;
    flex: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .walsh-container-3 {
    width: auto;
    flex: 0 auto;
  }

  .uui-pricing04_plan {
    margin-top: 0;
  }

  .uui-pricing04_components {
    grid-template-columns: 1fr;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .walsh-menu-button-black-2 {
    order: 1;
  }

  .walsh-menu-button-black-2.w--open {
    color: #2c2c2c;
    background-color: rgba(0, 0, 0, 0);
  }

  .walsh-link-block-orange-3 {
    padding-left: 50px;
  }

  .walsh-inner-container-nav-float-2 {
    padding-left: 25px;
    padding-right: 0;
  }

  .walsh-float-menu-2 {
    padding: 10px 0;
  }

  .walsh-nav-wrapper-green-padding-2 {
    padding: 10px;
  }

  .heading-4 {
    width: 23ch;
    font-size: 2.4rem;
  }

  .walsh-container-4 {
    width: auto;
    flex: 0 auto;
  }

  .f-gallery-two-column {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .f-gallery-image-x-tall {
    height: 440px;
  }

  .f-gallery-two-column-s {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
  }

  .icon {
    color: #fff;
    display: none;
  }

  .walsh-footer-grid-social {
    width: 100%;
    justify-content: center;
  }

  .walsh-container-5 {
    width: auto;
    flex: 0 auto;
  }

  .section-2 {
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .walsh-heading-large {
    font-size: 2em;
  }

  .walsh-content-wrap {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .walsh-rounded-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .walsh-rounded-block {
    border-radius: 20px;
  }

  .uui-button {
    font-size: 1rem;
  }

  .uui-button:hover {
    background-color: #7f56d9;
    border-color: #7f56d9;
  }

  .uui-pricing04_feature-list {
    margin-bottom: 2rem;
  }

  .uui-pricing04_price {
    font-size: 2.25rem;
  }

  .uui-heading-xxsmall {
    font-size: 1.125rem;
  }

  .uui-pricing04_plan, .uui-pricing04_popular-plan {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .uui-pricing04_components {
    margin-top: 3rem;
  }

  .uui-heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .uui-padding-vertical-xhuge {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .uui-page-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .walsh-brand-block-2 {
    padding-left: 0;
  }

  .heading-4 {
    width: 15ch;
  }

  .f-gallery-two-column-s {
    grid-template-columns: 1fr;
  }

  .f-h3-heading {
    font-size: 40px;
  }

  .f-section-large {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .walsh-footer-inner {
    padding-left: 50px;
    padding-right: 50px;
  }

  .walsh-footer-legal-text {
    text-align: center;
  }

  .walsh-logo-footer {
    max-height: 32px;
  }
}

@media screen and (max-width: 479px) {
  .walsh-link-block-orange {
    align-self: center;
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-container {
    width: 100%;
    flex: 0 auto;
  }

  .walsh-link-wrapper {
    font-size: 16px;
  }

  .walsh-container-2 {
    width: 100%;
    flex: 0 auto;
  }

  .walsh-link-block-orange-2 {
    align-self: center;
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-main-paragraph {
    font-size: 1em;
  }

  .walsh-heading-large {
    font-size: 1.5em;
  }

  .walsh-title-tag {
    font-size: 16px;
  }

  .walsh-content-wrap {
    grid-row-gap: 1.25em;
    text-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
  }

  .walsh-flex-horizontal {
    grid-row-gap: 2em;
  }

  .walsh-rounded-container {
    width: 100%;
    flex: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .walsh-container-3 {
    width: 100%;
    flex: 0 auto;
  }

  .uui-heading-medium {
    font-size: 18px;
  }

  .uui-heading-subheading {
    font-size: 12px;
  }

  .section {
    background-image: url('../images/IMG_2171-2-copy.jpg');
    background-position: 39%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
  }

  .walsh-link-block-orange-3 {
    align-self: center;
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-nav-logo-2 {
    height: 64px;
  }

  .heading-4 {
    width: auto;
    font-size: 10vw;
  }

  .walsh-container-4 {
    width: 100%;
    flex: 0 auto;
  }

  .f-gallery-image-x-small-square {
    height: 130px;
  }

  .f-gallery-two-column {
    grid-column-gap: 9px;
    grid-row-gap: 10px;
  }

  .f-gallery-image-x-tall {
    height: 300px;
  }

  .f-h3-heading {
    font-size: 18px;
  }

  .f-title-wrapper-center {
    align-items: center;
  }

  .f-margin-bottom-48 {
    margin-bottom: 10px;
  }

  .walsh-footer-grid-social {
    width: 100%;
    justify-content: center;
  }

  .walsh-footer-inner {
    width: 100%;
  }

  .walsh-footer-legal-text {
    font-size: 11px;
  }

  .walsh-logo-footer {
    max-height: 95px;
  }

  .walsh-center-h-wrapper {
    font-size: 18px;
  }

  .walsh-container-5 {
    width: 100%;
    flex: 0 auto;
  }

  .walsh-content-wrapper-white {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

#w-node-_0f8c74ff-7614-f544-d696-0fc14aa2e5d4-9eab76fb {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: center;
}

#w-node-_0f8c74ff-7614-f544-d696-0fc14aa2e5ee-9eab76fb {
  grid-column: span 3 / span 3;
}

#w-node-_463d440b-a9fa-ee67-e416-541dd0fe405d-9eab76fb, #w-node-_17c34b5a-58d4-86ee-317c-8c57e89a5e2b-9eab76fb, #w-node-_3b5b25c9-cd4c-5e20-f92a-60f5cb07895a-9eab76fb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-f3eff7e5-ac2c-913b-a556-0c013e829221-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e829226-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e82922b-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e82924d-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e829252-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e829257-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e82925c-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e829276-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e82927b-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e829280-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e829285-9eab76fb, #w-node-f3eff7e5-ac2c-913b-a556-0c013e82928a-9eab76fb {
  align-self: start;
}

#w-node-_87916c51-8d71-7de0-1143-a9d0f39ed973-9eab76fb {
  grid-area: 1 / 6 / 2 / 13;
  align-self: end;
  justify-self: end;
}

#w-node-_87916c51-8d71-7de0-1143-a9d0f39ed975-9eab76fb {
  grid-area: 1 / 1 / 2 / 6;
  align-self: center;
}

#w-node-_8fa629c1-8dce-619b-934c-84a79595a765-9eab76fb {
  grid-area: 1 / 5 / 2 / 9;
  align-self: center;
}

#w-node-_8fa629c1-8dce-619b-934c-84a79595a770-9eab76fb {
  justify-self: center;
}

#w-node-_8fa629c1-8dce-619b-934c-84a79595a767-9eab76fb {
  grid-area: 3 / 4 / 4 / 10;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_0f8c74ff-7614-f544-d696-0fc14aa2e5d4-9eab76fb {
    grid-column: 1 / 2;
    justify-self: start;
  }

  #w-node-_0f8c74ff-7614-f544-d696-0fc14aa2e5ee-9eab76fb {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
  }

  #w-node-_87916c51-8d71-7de0-1143-a9d0f39ed973-9eab76fb {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_87916c51-8d71-7de0-1143-a9d0f39ed975-9eab76fb {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-_8fa629c1-8dce-619b-934c-84a79595a765-9eab76fb {
    grid-column: 1 / 3;
  }

  #w-node-_8fa629c1-8dce-619b-934c-84a79595a767-9eab76fb {
    grid-area: 4 / 1 / 5 / 3;
    justify-self: center;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_0f8c74ff-7614-f544-d696-0fc14aa2e5d4-9eab76fb {
    grid-column-end: 3;
  }

  #w-node-_87916c51-8d71-7de0-1143-a9d0f39ed973-9eab76fb {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_87916c51-8d71-7de0-1143-a9d0f39ed975-9eab76fb {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
  }

  #w-node-_8fa629c1-8dce-619b-934c-84a79595a765-9eab76fb {
    grid-area: 1 / 1 / 2 / 3;
  }
}


@font-face {
  font-family: 'Sinkinsans';
  src: url('../fonts/SinkinSans-400Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sinkinsans';
  src: url('../fonts/SinkinSans-700Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sinkinsans';
  src: url('../fonts/SinkinSans-500Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}